.form-screen-title-outer-wrapper {
  position: relative;
  // padding: 30px 0;
  padding-top: 20px;
  h2 {
    color: var(--primary);
    font-size: 22px;
    font-weight: 700;
    // text-transform: uppercase;
    // letter-spacing: 1px;
    text-align: center;
    // border-bottom: 1px solid rgb(227, 227, 227);
    // padding-bottom: 15px;
  }
}
