.form-group-outer-wrapper {
  position: relative;
  padding-top: 20px;
  padding-bottom: 5px;
  .form-group__title {
    font-weight: 600 !important;
    color: #3f3c3c;
    // color: #312d2d;;
    // font-size: 14spx;
    font-size: 13px;
    line-height: 21px;
    // padding-bottom: 5px;
    // margin: 0 8px;
  }
}
